header, body, html {
    font-family: sans-serif;
}

table, th, td {
    font-family: sans-serif;
    border: 1px solid #bbb;
    border-collapse: collapse;
    padding: 8px;
}

th {
    color: white;
    background-color: #555;
}

tr:nth-child(even){
    background-color: #aaa;
}

td {
    font-size: small;
}